# Ignorar arquivos de ambiente virtual e compilados
__pycache__/
*.pyc
venv/
.env
.pkl
.idea
# IGNORAR DADOS (Isso garante que o BDGD não vá para o GitHub)
dados/
*.zip
*.gdb
*.shp
*.shx
*.dbf
*.pkl
# Ignorar arquivos do sistema operacional
.DS_Store

mapa_voronoi_preview.png
subestacoes_logicas_aracaju.geojson
perfil_mercado_aracaju.json
territorios_voronoi.png
# Imagens geradas pela validação da IA
src/ai/validacao/

# Logs do Sistema
logs/
*.log
cache/
